<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiptop">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TipTop">

        //LogInAndSignUp
        <activity android:name=".LogInAndSignUp.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LogInAndSignUp.LoginActivity"/>

        <activity android:name=".LogInAndSignUp.RegistrationActivity"/>

        <activity android:name=".LogInAndSignUp.CreateFamilyActivity"/>

        <activity android:name=".LogInAndSignUp.HomeActivity"/>

        //FollowUp
        <activity android:name=".FollowUp.FollowUpChildActivity"/>

        <activity android:name=".FollowUp.FollowUpParentActivity"/>

        <activity android:name=".FollowUp.ApproveTaskActivity"/>

        //History
        <activity android:name=".History.HistoryParentActivity"/>

        //PoolTasks
        <activity android:name=".PoolTasks.NewTaskActivity"/>

        <activity android:name=".PoolTasks.PoolTasksChildActivity"/>

        <activity android:name=".PoolTasks.PoolTasksParentActivity"/>

        <activity android:name=".PoolTasks.TaskInfoChildActivity"/>

        <activity android:name=".PoolTasks.TaskInfoParentActivity"/>

        //Settings
        <activity android:name=".Settings.ManageCirclesActivity"/>

        <activity android:name=".Settings.CreateChildAccountActivity"/>

        <activity android:name=".Settings.CurrentCircleActivity"/>

        <activity android:name=".Settings.MembersActivity"/>

        <activity android:name=".Settings.SettingChildActivity"/>

        <activity android:name=".Settings.ParentRightsActivity"/>

        <activity android:name=".Settings.SettingParentActivity"/>

        //Points
        <activity android:name=".Points.PointsChildActivity"/>

        <activity android:name=".Points.PointsParentActivity"/>

        //Without Packages
        <activity android:name=".ChatActivity"/>

        <activity android:name=".ImageActivity"/>

        <activity android:name=".ProfileActivity"/>

        <activity android:name=".StatisticsActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>